.season-card-container
{
    margin : 30px 50px 30px 50px;
    width: 90vw;
    height: 30vh;
    display: flex;
    border-radius: 10px;
}

.season-card-container .poster
{
    border-radius: 10px;
    height: 100%;
    width: auto;
}

.season-card-container .details .header
{
    display: flex;
    width: 80vw;
}

.season-card-container .details .header .title
{
    margin : 30px 10px 0px 30px;
    font-size: 40px;
}

.season-card-container .details .header .mark-as-complete
{
    margin : 30px 30px 0px auto;
    padding : 5px 15px 5px 10px;
    border-width: 0px;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 500;
    transition: color 250ms ease;
    transition : background-color 250ms ease;
}


.season-card-container .details .header .mark-as-complete .icon
{
   transform: scale(1.25);
   margin : 0px 10px 5px 5px;
}

.season-card-container .details .header .complete
{
    margin : 30px 30px 0px auto;
    padding : 5px 15px 5px 10px;
    border-width: 0px;
    font-size: 20px;
    color: white;
    background-color: green;
    border-radius: 50px;
    font-weight: 500;
   
}

.season-card-container .details .header .complete .icon
{
   transform: scale(1.25);
   margin : 0px 10px 5px 5px;
}



.season-card-container .details .overview
{
    margin : 30px 10px 0px 30px;
    max-width: 80%;
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
}

.season-card-container .details .numofepisodes
{
   font-size: 20px;
   margin : 30px 0px 0px 30px;
   padding: 5px 12px;
   border: 1px solid;
   border-radius: 50px;
}

.seasonSelect
{
    margin : 30px 10px 0px 30px;
}
