.banner
{
     
}

.banner .taskBar
{
    display: flex;
    max-height: 80px;
}

.banner .taskBar .searchbar
{
    margin-right: 20px;
    margin-left: auto;
    margin-top: 20px;
}



.banner .taskBar .mylists
{
    height: 40px;
    margin : 20px;
    background-color: black;
    color : rgba(255, 69, 0, 1);
    border-radius: 5px;
    border-width: 0px;
    transition: color 0.25s ease;
    transition: background-color 0.25s ease;
}

.banner .mylists:hover
{
    background-color: rgba(255, 69, 0, 1);
    color : black;
}

.banner .mylists:active
{
    background-color: rgba(255, 165, 0, 1);
    color : black;
}



.banner .showInfo
{
    padding : 50px 50px 50px 50px;
}

.banner .showInfo .currently-watching
{
    font-size: 40px;
    color : white;
    mix-blend-mode: difference;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner .showInfo .title
{
    mix-blend-mode: difference;
    font-size: 70px;
    color : white;
}


.popularShowListContainer
{
    display : grid;
    padding-left : 3%;
    padding-right: 3%;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    padding-bottom: 100px;
}

.heading
{
    font-size : 25px;
    color : white;
    padding: 3%;
}

.popularShowContainer
{
    justify-content: left;
    border-radius: 0px;
    transition: transform .2s;
}

.popularShowContainer .poster
{
    width: 210px;
    height: auto;
    border-radius: 0px;
}

.popularShowContainer .title
{
    padding: 5px;
    font-size: 20px;
    color : rgb(255, 255, 255, 0.95);
    max-width: 210px;
}

.popularShowContainer:hover
{
    transform: scale(1.20);
   
}
