.imagesContainer
{
    padding : 5%
}

.imagesContainer .images
{
    width : 500px;
    height: auto;
    padding : 5%;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column .images {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }