.AddListContainer
{
    width: 80vw;
    margin : 50px 50px 0px 50px;
    background-color: black;
    height: auto;
    border-radius: 10px;
}

.AddListContainer .addnewlist
{
    width : 80vw;
    background: linear-gradient(to right, #ff0000, #8F00FF);
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.addnewlist .text
{
    vertical-align: middle;
    color : white;
    padding-left: 40%;
    padding-top: 8px;
    font-weight: 100;
}
.AddListContainer .AddListForm
{
    display: flex;
    margin: 20px 0px;
    height : 20px;
    width : 80vw;
    transition: height 200ms ease;
    flex-wrap: wrap;
}


.AddListContainer .AddListForm .nameInput
{
    height: 50px;
    width: 63vw;
    margin : 2vh 2vw 0vh 2vw;
    padding-left : 1vw;
    background: rgb(54, 54, 54);
    color : white;
    border-width: 0px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 25px;
}

.AddListContainer .AddListForm .nameInput::placeholder
{

    font-size: 20px;
    color : rgba(255, 255, 255, 0.6);
}

.AddListContainer .AddListForm .submitButton
{
    height: 50px;
    width: 10vw;
    margin : 2vh 2vw 0vh 0vw;
    background: linear-gradient(to right, #ff0000, #8F00FF);
    color : white;
    border-width: 0px;
    border-radius: 10px;
    font-size: 25px;
    transition:  background 250ms ease;
}

.AddListContainer .AddListForm .error
{
    margin: 0vh 30vw 0vh auto;
    text-align:center;
    padding : 0.7vw;
    width: 20vw;
    height: 3vw;
    background-color: rgb(255, 196, 196);
    color : rgb(255, 69, 0);
    font-size: 25px;
    font-weight: 100;
    border-radius: 50px;
}



